<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       

       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    
    <http auto-config="true">
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <form-login login-processing-url="/j_spring_security_check"
                    login-page="/sign_in.htm"
                    username-parameter="username"
                    password-parameter="password"
                    authentication-failure-url="/sign_in.htm?login_error=t" />
        <csrf disabled="true" />  
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="admin" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
    
    
</beans:beans>
