<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!--<File name="trace" fileName="/home/muhammad/agrimarket.trace.log">-->
        <File name="trace" fileName="C:/AgriMarket/logs/agrimarket.trace.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="trace"/>
        </Root>
    </Loggers>
</Configuration>